@import "reset.css";

html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #f6f9fc;
  width: 100%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.canvas {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.controls {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls .controls__btns {
  margin-bottom: 30px;
}

.controls__btns button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 80px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}

.controls__btns button:active {
  transform: scale(0.98);
}

.controls__btns button:first-child {
  background-color: tomato;
}

.controls .controls__diceSet {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

.controls .controls__diceSet input {
  width: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  border: 0px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}